.input_container{
    position: relative; /*important*/
}

.input_icon{
    position: absolute; /*important*/
    top: 32px;
    color: blue; /*Tu peux changer ici*/
    left: 400px;
    font-size: 15px; /*Tu peux changer ici*/
    width: 50px;

}

/*input[type="text"], input[type="password"] {*/
/*    padding-left:70px; !*Laisse de l'espace pour l'icône*!*/
/*}*/